/* write your override styles here */
body #wall {
  position: absolute;
}

body #wall #tag-2 {
  z-index: 6;
  display: none; 
}

#wall .tag-1{
    position:fixed;
    display: none;
    z-index: 0
}


#wall #tag-3{
    height: 62px;
}

#wall .parent #tag-4 {
  
  display: none;
}

body div#wall .parent #tag-5.slick {
  display: none;
}
